{% extends 'base.html' %}

{% block content %}
<div class='row'>

<div class='col-sm-8'>
<h1>Product Details</h1>
<h1>{{ product.title }}</h1>
<h3>{{ product.price }}</h3>
<p class="lead">
  {{ object.description }}
</p>
</div>

{% if product.productimage_set.count > 0 %}
<div>
  {% for img in product.productimage_set.all %}
  {{ img.image.file }}
  {{ img.image.url }}
  <img class='img-responsive'  src='{{ img.image.url }}' />
  {% endfor %}
</din>
{% endif %}

{#{{ product.variation_set.all }}#}

<div class='col-sm-4'>
{% if product.variation_set.count > 1 %}
<select class='form-control'>
{% for pro in product.variation_set.all %}
<option value="{{ pro.id }}">{{ pro.title }}-{{ pro.price }}</option>
{% endfor %}
</select>
{% endif %}
<br/>
<a href='#'>Add to cart</a>

<br/>
<hr/>
<h4>Related Products</h4>
</div>

</div>
{% endblock %}
